html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Lancelot";
  src: url("fonts/Lancelot/Lancelot-Regular.ttf");
}

@font-face {
  font-family: "Matemasie";
  src: url("fonts/Matemasie/Matemasie-Regular.ttf");
}

@font-face {
  font-family: "Sevillana";
  src: url("fonts/Sevillana/Sevillana-Regular.ttf");
}

.primeira-fonte {
  font-family: "Lancelot";
  font-size: 18px;
  font-weight: 900;
}

.segunda-fonte {
  font-family: "Matemasie";
  font-size: 2em;
}

.terceira-fonte {
  font-family: "Sevillana";
  font-size: 20px;
}
